.artist-container {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 9px;
  background: #e9ebf7;
  font-family: sans-serif;
  margin-bottom: 8px;
  cursor: pointer;
}

.artist-container:hover {
  background: #afb5bd;
}

.artist-name {
  font-size: 10px;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.right-half img {
  width: 100%;
}

.blog-thumb-img {
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 400px;
}
.blog-thumb-img img {
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
}
.blog-thumb-img:hover .blog-thumb-img-overlay {
    opacity: 1;
    visibility: visible;
}
.blog-thumb-img:hover .blog-thumb-img-overlay .overlay-text, .blog-thumb-img:hover .blog-thumb-img-overlay .overlay-link  {
    transform: translateY(0px);
}
.blog-thumb-img:hover img {
    transform: scale(1.2);
}
.blog-thumb-img-overlay {
    background: none repeat scroll 0 0 rgba(60, 165, 218, 0.8);
    bottom: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "latolight",Verdana,Helvetica,Arial,sans-serif;
    font-size: 1.45em;
    opacity: 0;
    padding: 50px 25px;
    position: absolute;
    text-align: left;
    top: 0;
    transition: all 0.2s ease-in 0s;
    visibility: hidden;
    width: 100%;
}
.blog-thumb-img-overlay .overlay-text {
    transform: translateX(-100%);
}
.blog-thumb-img-overlay .overlay-link  {
    transform: translateX(100%);
}
.blog-thumb-img-overlay .overlay-text {
    font-weight: normal;
    display: block;
    line-height: 1.3em;
    transition: all 0.3s ease-in 0s;
}
.blog-thumb-img-overlay .overlay-link {
    transition: all 0.3s ease-in 0s;
    display: block;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding-top: 10px;
}
